<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>
      Class Hierarchy Inspector Report
    </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script src="diep-org-chart.js"></script>
  </head>

  <body>
    <h1>
      Class Hierarchy Inspector Report
    </h1>
    <div th:unless="${errormsg} == null" th:remove="tag">
      <span style="color: red; font-style: italic;" th:text="${errormsg}" />
      <a th:href="${returnLink.path}" th:text="${returnLink.name}" />
    </div>
    <div th:if="${errormsg} == null" th:remove="tag">
        <script>
            let i = 0;
            let tree = [];
        </script>
        <code th:each="tree : ${trees}" th:remove="tag">
            <script th:inline="javascript">
                tree[i++] = /*[[${tree}]]*/ {}
            </script>
        </code>
    </div>

    <div ng-app="myApp" ng-controller="myCtrl">
        <div th:each="tree, iter : ${trees}" th:remove="tag">
            <organizational-chart
              th:attr="datasource=${'datasource[' + iter.index + ']'}"
              width="180"
            >
            </organizational-chart>
            <br />
            <hr />
        </div>
    </div>

    <script>
      function convert(input) {
        let values = input.clazz.split(".");
        let children = input.children;
        let result = {
          "value": values[values.length - 1],
          "childs": []
        };
        let n = children.length;
        for (let i = 0; i < n; i++) {
          let child = convert(children[i]);
          result.childs.push(child);
        }
        return result;
      }

      var app = angular.module('myApp', []);
      app.component('organizationalChart', buildOrganizationalChart())
      app.controller("myCtrl", function($scope) {
        let datasource = [];
        let n = tree.length;
        for(let i = 0; i < n; i++) {
          datasource.push(convert(tree[i]));
        }
        $scope.datasource = datasource;
      });
    </script>
    </body>
</html>


